<ion-content>
  <ion-button class="button-transparent mx-2 mt-2" (click)="goBack()">
    Volver
    <ion-icon name="chevron-back-outline" size="large" slot="start" aria-hidden="true"></ion-icon>
  </ion-button>
  <div class="flex justify-content-center mb-6">
    <div style="width: 150px">
      <ui-img alt="UCSM LOGO" src="/assets/icon/logo_ucsm_4.png" />
    </div>
  </div>
  <card-container>
    <div class="flex justify-content-center my-4">
      <person-item
        image_url="/assets/images/icon_student.png"
        style="width: 500px; height: 117px"
        [title]="((student$ | async)?.first_name || '') + ' ' + ((student$ | async)?.last_name || '')"
      />
    </div>
    <div class="my-6">
      <div class="field">
        <h2 class="font-bold">Nombre Completo</h2>
        <p>
          {{
            ((student$ | async)?.first_name || '') +
              ' ' +
              ((student$ | async)?.middle_name || '') +
              ' ' +
              ((student$ | async)?.last_name || '') +
              ' ' +
              ((student$ | async)?.second_last_name || '')
          }}
        </p>
      </div>
      <div class="field">
        <h2 class="font-bold">DNI</h2>
        <p>{{ (student$ | async)?.identification_document }}</p>
      </div>
      <div class="field">
        <h2 class="font-bold">Email</h2>
        <p>{{ (student$ | async)?.email }}</p>
      </div>
      <div class="field">
        <h2 class="font-bold">Telefóno</h2>
        <p>{{ (student$ | async)?.phone_number }}</p>
      </div>
      <div class="field">
        <h2 class="font-bold">Domicilio</h2>
        <p>{{ (student$ | async)?.address }}</p>
      </div>
      <div class="field">
        <h2 class="font-bold">Fecha de Nacimiento</h2>
        <p>{{ (student$ | async)?.birth_date }}</p>
      </div>
    </div>
  </card-container>
</ion-content>
