<ion-content>
  <ion-button class="user mx-2 mt-4" [routerLink]="['/private/career/grade']">
    Volver
    <ion-icon name="chevron-back-outline" size="large" slot="start" aria-hidden="true"></ion-icon>
  </ion-button>
  <div class="flex justify-content-center mt-2 mb-4">
    <h1 class="font-bold text-white text-center text-4xl">{{ title }}</h1>
  </div>
  <card-container>
    <div class="flex justify-content-center">
      <ui-dropdown
        [items]="(semesters$ | async)!"
        [selected]="selectedSemester"
        (changed)="getSubjects_per_semester($event)"
      />
    </div>
    <div class="overflow-scroll surface-overlay" *ngIf="(subjects$ | async)?.length! > 0" style="height: 450px">
      <subject-simple-card
        (click)="goToSubjectDescription(subject)"
        *ngFor="let subject of subjects$ | async"
        [title]="subject.subject?.name || ''"
        info="P.final"
        [quantity]="subject.final_score || 0"
      />
    </div>
  </card-container>
</ion-content>
