<ion-content class="flex ion-text-center">
  <form action="">
    <div class="ion-margin mb-8">
      <img alt="UCSM LOGO" src="/assets/icon/logo_ucsm_4.png" />
    </div>
    <card-container>
      <ion-text>
        <h1 class="ion-text-center ion-padding">
          <strong>Iniciar Sesión</strong>
        </h1>
      </ion-text>
      <ui-input class="ion-padding" IconName="person-outline" label="DNI" helperText="Ingrese su DNI o pasaporte" />
      <ui-password />
      <div class="flex ion-justify-content-center ion-align-items-center ion-margin-top">
        <ion-button type="submit" style="width: 250px" ill="solid" shape="round" size="default" color="success">
          <span>
            <strong>INGRESAR</strong>
          </span>
        </ion-button>
      </div>
    </card-container>
  </form>
</ion-content>
