<ion-content>
  <div class="image-background" [style.background-image]="'url(' + (event$ | async)?.image_url + ')'">
    <ion-button class="mx-2 mt-4" (click)="goBack()">
      Volver
      <ion-icon name="chevron-back-outline" size="large" slot="start" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>
  <card-container>
    <div class="flex justify-content-center">
      <h1 class="font-bold text-3xl text-center">{{ (event$ | async)?.name }}</h1>
    </div>
    <div class="flex justify-content-center">
      <h1 class="text-center text-xl">{{ (event$ | async)?.building?.name }}</h1>
    </div>
    <div class="my-4">
      <p class="text-lg">
        {{ (event$ | async)?.description }}
      </p>
    </div>
    <div class="flex justify-content-between flex-wrap">
      <p class="text-lg font-bold">Inicio</p>
      <p class="text-lg font-bold">Fin</p>
    </div>
    <div class="flex justify-content-between flex-wrap">
      <p class="text-lg">
        {{ (event$ | async)?.start_date | date: 'd/M/yyyy' }}
      </p>
      <p class="text-lg">
        {{ (event$ | async)?.end_date | date: 'd/M/yyyy' }}
      </p>
    </div>
  </card-container>
</ion-content>
