<ion-content>
  <ion-button class="user mx-2 mt-2" [routerLink]="['/private/career/grade/subject']">
    Volver
    <ion-icon name="chevron-back-outline" size="large" slot="start" aria-hidden="true"></ion-icon>
  </ion-button>
  <div class="mb-4">
    <h1 class="font-bold text-white text-center text-3xl">{{ subject.subject?.name }}</h1>
    <p class="text-center text-white text-sm">{{ subject.subject?.semester?.name }}</p>
  </div>
  <card-container>
    <div class="flex justify-content-center align-items-center text-2xl">
      <p class="mr-4 text-xl" [ngClass]="{ 'title-section': !showGrades }" (click)="changeSection()">Información</p>
      <p class="text-xl" [ngClass]="{ 'title-section': showGrades }" (click)="changeSection()">Notas</p>
    </div>
    <div *ngIf="!showGrades; else grades">
      <classroom-description
        main_title="Comisión"
        title_left="Practica"
        [description_left]="subject.student_commissions?.[0]?.commission?.id || ''"
        title_right="Teoria"
        [description_right]="subject.student_commissions?.[1]?.commission?.id || ''"
      />
      <classroom-description
        main_title="Aula"
        title_left="Practica"
        [description_left]="
          subject.student_commissions?.[0]?.commission?.classroom?.building?.name ||
          '' + '-' + subject.student_commissions?.[0]?.commission?.classroom?.name
            ? subject.student_commissions?.[0]?.commission?.classroom?.name || ''
            : ''
        "
        title_right="Teoria"
        [description_right]="
          subject.student_commissions?.[1]?.commission?.classroom?.building?.name ||
          '' + '-' + subject.student_commissions?.[1]?.commission?.classroom?.name
            ? subject.student_commissions?.[1]?.commission?.classroom?.name || ''
            : ''
        "
      />
      <classroom-description
        main_title="Horario"
        title_left="Practica"
        [description_left]="subject.student_commissions?.[0]?.commission?.commission_schedule?.day || '' | day"
        [left_start_hour]="
          (subject.student_commissions?.[0]?.commission?.commission_schedule?.start_time | date: 'shortTime') || ''
        "
        [left_end_hour]="
          (subject.student_commissions?.[0]?.commission?.commission_schedule?.end_time | date: 'shortTime') || ''
        "
        title_right="Teoria"
        [description_right]="subject.student_commissions?.[1]?.commission?.commission_schedule?.day || ''"
        [right_start_hour]="
          (subject.student_commissions?.[1]?.commission?.commission_schedule?.start_time | date: 'shortTime') || ''
        "
        [right_end_hour]="
          (subject.student_commissions?.[1]?.commission?.commission_schedule?.end_time | date: 'shortTime') || ''
        "
      />
      <classroom-description main_title="Docente/s" />
      <div class="flex justify-content-between">
        <person-item
          image_url="/assets/icon/logo_ucsm.png"
          [title]="commission.commission?.id || ''"
          [subtitle]="
            (commission.commission?.professor?.first_name || '') +
            ' ' +
            (commission.commission?.professor?.last_name || '')
          "
          *ngFor="let commission of subject.student_commissions"
        />
      </div>
    </div>
    <ng-template #grades>
      <grade-description
        [title_left]="subject.simulated_score?.toString() || ''"
        [title_right]="subject.final_score?.toString() || ''"
        description_left="Puntaje Simulado"
        description_right="Puntaje Final"
      />
      <grade-description
        [title_left]="grade.left_score.toString()"
        [title_right]="grade.right_score.toString()"
        [main_title]="grade.phase | capitalize: 'titleCase'"
        description_left="Practica"
        description_right="Teoria"
        *ngFor="let grade of gradesPerPhase"
      />
      <grade-description
        main_title="Promedio"
        [title_left]="subject.avg_practice_score?.toString() || ''"
        [title_right]="subject.avg_theory_score?.toString() || ''"
        description_left="Practica"
        description_right="Teoria"
      />
    </ng-template>
  </card-container>
</ion-content>
