<ion-content class="ion-padding">
  <header-page title="Deudas Pendientes" subtitle="Puedes ver tus deudas a pagar" imageurl="/assets/images/debt.png" />
  <div class="flex flex-column my-4">
    <div class="flex justify-content-center text-center">
      <span class="total">{{ total | currency: 'PEN' : 'symbol' : '' }}</span>
    </div>
    <div class="flex justify-content-center text-center subtitle">saldo a pagar</div>
  </div>
  <div class="overflow-auto surface-overlay p-3 md:w-4" style="height: 50rem"></div>
  <installment-card />
</ion-content>
