<ion-content>
  <div class="backgrond-design w-full h-full">
    <div class="flex justify-content-center">
      <div class="mb-2" style="width: 96px; height: 24px">
        <ui-img alt="UCSM LOGO" src="/assets/icon/logo_ucsm_4.png" />
      </div>
    </div>
    <div class="my-4 flex flex-row w-full justify-content-between flex-wrap">
      <ion-button class="button-transparent" fill="clear">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <h4 class="font-bold text-white text-center text-5xl">
        ¡Hola,<br />
        Pablo!
      </h4>
      <ion-button class="button-transparent" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </div>
    <card-container>
      <div class="flex justify-content-center align-items-center text-2xl">
        <p class="mr-4 text-xl" [ngClass]="{ 'title-section': !showEvent }" (click)="changeSection()">Carreras</p>
        <p class="text-xl" [ngClass]="{ 'title-section': showEvent }" (click)="changeSection()">Novedades</p>
      </div>
      <div *ngIf="!showEvent; else events">
        <career-card
          title="Ingenieria de Sistemas"
          subTitle="Código: 20122250982"
          body="Ir a Carrera"
          path="/private/career-profile"
        />
      </div>
      <ng-template #events>
        <event-card
          imageUrl="/assets/images/casa-marianista.jpg"
          title="¡Visita la UCSM!"
          body="Conozca la hermosa estructura de la uni"
        />
      </ng-template>
    </card-container>
  </div>
</ion-content>
