<ion-content>
  <div class="backgrond-design w-full h-full">
    <div class="flex justify-content-center">
      <div class="mb-2" style="width: 96px; height: 24px">
        <ui-img alt="UCSM LOGO" src="/assets/icon/logo_ucsm_4.png" />
      </div>
    </div>
    <div class="my-4 flex flex-row w-full justify-content-between flex-wrap">
      <ion-button class="button-transparent" (click)="goToProfile()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <h4 class="font-bold text-white text-center text-5xl">
        ¡Hola,<br />
        {{ (student$ | async)?.first_name ? (student$ | async)?.first_name : ('' | capitalize: 'allLowerCase') }}!
      </h4>
      <ion-button class="button-transparent" (click)="goToLogin()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </div>
    <card-container>
      <div class="flex justify-content-center align-items-center text-2xl">
        <p class="mr-4 text-xl" [ngClass]="{ 'title-section': !showEvent }" (click)="changeSection()">Carreras</p>
        <p class="text-xl" [ngClass]="{ 'title-section': showEvent }" (click)="changeSection()">Novedades</p>
      </div>
      <div *ngIf="!showEvent; else events">
        <div class="overflow-scroll surface-overlay" style="height: 450px">
          <career-card
            *ngFor="let enrollment of enrollments$ | async"
            [title]="enrollment.academic_program?.name || ''"
            [subTitle]="'Código: ' + enrollment.academic_program?.code"
            body="Ir a Carrera"
            (click)="goToEnrollment(enrollment)"
          />
        </div>
      </div>
      <ng-template #events>
        <div class="overflow-scroll surface-overlay" style="height: 450px">
          <event-card
            *ngFor="let event of events$ | async"
            [imageUrl]="event.image_url || ''"
            [title]="event.name || ''"
            [body]="event.description || ''"
            path="/event"
          />
        </div>
      </ng-template>
    </card-container>
  </div>
</ion-content>
