<ion-content>
  <div class="backgrond-design w-full h-full">
    <div class="flex justify-content-center">
      <div class="mb-2" style="width: 96px; height: 24px">
        <ui-img alt="UCSM LOGO" src="/assets/icon/logo_ucsm_4.png" />
      </div>
    </div>
    <div class="my-4 flex flex-row w-full justify-content-between flex-wrap">
      <ion-button class="button-transparent" fill="clear">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <h4 class="font-bold text-white text-center text-5xl">
        ¡Hola,<br />
        Pablo!
      </h4>
      <ion-button class="button-transparent" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </div>
    <card-container>
      <career-card
        title="Proceso de actualizacion de Ingenieria de sistemas"
        subTitle="Código: 20122250982"
        body="Ir a Carrera"
      />
    </card-container>
  </div>
</ion-content>
